streamlit # tho added by cloud, but still for local deploys it's ok!
google-genai # for gemini
Pillow # for image operations
torch # ai pipeline utility providing some values
diffusers # ai pipeline lib
